.driver {
	@include row-flex();
	margin-top: 102px;

	@include to($break_md) {
		margin-top: 50px;
	}
}

.driver__wrapper {
	@include col();
	@include size(9);
	@include shift-left(0);
	@include shift-right(3);

	@include to($break_md) {
		@include col();
		@include size(12);
		@include shift-left(0);
		@include shift-right(0);
	}
}

.driver__wrapper_revers {
	@include shift-left(1);
	@include shift-right(2);

	@include to($break_md) {
		@include shift-left(0);
		@include shift-right(0);
	}
}

.driver__container {
	@include row-flex();
	padding: 16px 0;	
	&:before {
    content: "";
    display: inline-block;
    position: relative;
    width: calc(100% - 24px);
  	top: -16px;
  	left: 12px;
    height: 2px;
    background-color: #BDBDBD;

		@include to($break_sm) {
			display: none;
		}
	}

	@include to($break_sm) {
		padding: 0;
	}
}

.driver__image {
	@include col();
	@include size(5.33333332);
	height: auto;

	@include to($break_sm) {
		@include col();
		@include size(12);
	}
}

.driver__image_revers {
	@include to($break_sm) {
		display: none;
	}
}

.driver__image_for-mobile {
	@include from($break_sm + 1px) {
		display: none;
	}
}

.driver__info {
	@include col();
	@include size(6.66666665);
	display: flex;
	flex-direction: column;

	@include to($break_sm) {
		@include col();
		@include size(12);
	}
}

.driver__basic-info {
	display: flex;
	flex-direction: column;
}

.driver__rank {
	display: flex;
	justify-content: start;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	color: $gray_2;

	@include to($break_sm) {
		margin-top: 16px;
		border-bottom: 1px solid #BDBDBD;
		font-size: 14px;
		font-style: italic;
		font-weight: 600;
		line-height: 32px;
	}
}

.driver__rank_revers {
	justify-content: flex-end;

	@include to($break_sm) {
		justify-content: start;
	}
}

.driver__name {
	display: flex;
	justify-content: start;
	font-size: 32px;
	font-style: italic;
	font-weight: 700;
	line-height: 56px;
	color: $gray_1;

	@include to($break_sm) {
		font-size: 28px;
		font-style: italic;
		font-weight: 700;
		line-height: 64px;
	}
}

.driver__name_revers {
	justify-content: flex-end;

	@include to($break_sm) {
		justify-content: start;
	}
}

.driver__detailed-info {
	@include row-flex();
	display: flex;
	margin-top: auto;

	@include to($break_sm) {
		margin-top: 12px;
	}
}

.driver-details__column {
	font-size: 16px;
	line-height: 24px;
	b {
		font-weight: 600;
	}

	@include to($break_sm) {
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
		b {
			font-weight: 700;
		}
	}
}

.driver-details__column_type_1 {
	@include col();
	@include size(4.8);
}

.driver-details__column_type_2 {
	@include col();
	@include size(7.2);
}