.hamburger-menu {

}

.hamburger-menu__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 16px;
	padding: 6px 3px;
}

.hamburger-menu__image {
	width: 18px;
	height: 12px;
}