.header-upper {
	display: flex;
	width: 100%;
	height: 56px;
	color: $gray_6;
	background-color: $gray_1;
}

.header-upper__wrapper {
	@include wrapper();
	display: flex;
	flex: 1 0 auto;
	align-items: center;
}

.header-upper__logo {
	height: 30px !important;
}

.header-upper__hamburger-menu {
	display: none;

	@include to($break_md) {
		display: block;
	}
}

.header-upper__menu {
	margin-left: auto;

	@include to($break_md) {
		display: none;
	}
}

.header-upper__contact {
	margin-left: 48px;
	
	@include to($break_md) {
		margin-left: auto;
	}
}

@import "hamburger-menu.scss";
@import "contact.scss";
@import "menu.scss";