.achievements__wrapper {
	position: relative;
}

.achievements__image {
	width: 100%;
	height: auto;
}

.achievements__list {
	position: absolute;
	left: 36px;
	bottom: 24px;
	z-index: 10;

	@include to($break_sm) {
		left: 12px;
		bottom: 12px;
	}
}

.achievements__list-item {
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
	line-height: 24px;
	color: $gray_6;
	&:before {
		content: "-";
		padding-right: 8px;
	}

	@include to($break_sm) {
		font-size: 12px;
		font-style: italic;
		font-weight: 600;
		line-height: 16px;
	}
}