// Colors

$gray_1: #333333;
$gray_2: #4f4f4f;
$gray_5: #e0e0e0;
$gray_6: #f2f2f2;

$accent: #f50a4d;

// Font

$fontsize: 16px; // Body Font Size
$lineheight: 24px; // Body Line Height
$textcolor: $gray_2; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$titillium: "Titillium Web", sans-serif; // Titillium Web Font Family
