.hamburger-menu__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 16px;
	padding: 16px 13px;
  cursor: pointer;
}

.hamburger-menu__button_close {
  padding: 16px;
}

.hamburger-menu__image {
	height: 12px;
	width: 18px;
}

.hamburger-menu__image_close {
	width: 14px;
	height: 14px;
}

.hamburger-menu__container {
	display: none;
	position: absolute;
	overflow-y: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	z-index: 10;
	background-color: rgba($gray_1, 0.33);
}

.hamburger-menu__container_is-active {
	display: block;
}

.hamburger-menu__wrapper {
	@include wrapper();
	background-color: $gray_1;
}

.hamburger-menu__upper {
	display: flex;
	height: 56px;
	color: $gray_6;
	align-items: center;
}

.hamburger-menu__logo {
	height: 30px !important;
}

.hamburger-menu__contact {
	margin-left: auto;
}

.hamburger-menu__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 14px 0 24px 0;
}

.hamburger-menu__menu {
  display: flex;
  width: 100%;
}

.hamburger-menu__menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hamburger-menu__menu-item {
	margin-bottom: 4px;
	&:last-child {
		margin-bottom: 0;
	}
}

.hamburger-menu__menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	text-decoration: none;
	color: $gray_6;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $accent;
  }
}
